
.statusBar {
  width: 100%;
  height: 3px;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
}

.pending {
  background-color: var(--color-amber-600);
}

.approved {
  background-color: var(--color-teal-600);
}

.rejected {
  background-color: var(--color-crimson-600);
}

.spam {
  background-color: var(--color-crimson-700);
}
